<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/artwork_upload.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/preset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/font.css">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'>
	  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Account registration form</title>
  </head>
  <body>
  <header>
        <nav class="nav-conatiner">
            <div class="logo-container">
                <div class="logo">
                    <a href="index.html"><img src="../assets/Asset%202.png" alt=""></a>
                </div>
            </div>
            <div class="nav-items-container">
                <ul>
                    <li><a href=".../Views/about.html">About</a></li>
                    <li><a href=".../Views/artworks.html">Artworks</a></li>
                    <li><a href=".../Views/artist.html">Artists</a></li>
                    <li><a href=".../Views/blog.html">Blog</a></li>
                    <li><a href=".../Views/partnership.html">Patnership</a></li>

                </ul>
            </div>
            <div class="profile_cart">
                <div class="header_profile_sec">
                    <nav class="navbar-expand-sm">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-list-4">
                          <ul class="navbar-nav">
                              <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../assets/user-alt-solid.svg" width="20" height="20" class="rounded-circle">
                                Username
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Dashboard</a>
                                <a class="dropdown-item" href="#">Edit Profile</a>
                                <a class="dropdown-item" href="#">Log Out</a>
                              </div>
                            </li>   
                          </ul>
                        </div>
                        <div class="cart__">
                        <a href="">
                            <img src="../assets/shopping-cart-solid.svg" alt="">
                            <span>0</span>
                        </a>
                    </div>
                      </nav>
                </div>
                

            </div>
        </nav>
    </header>
  <div class="container">
    <div class="row">
      <div class="col">
        <form>
            <h1 class="text-center">Upload Artwork</h1>
          <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" accept="image/png,image/jpeg,image/gif">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Example label</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>  
  
          <div class="copyright">© 2021 selectart.in</div>
  </body>
</html>
